body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background-color: blueviolet;
    width: 200px;
    padding: 200px;
    border: 10px solid rgb(233, 233, 224);
    position: relative;
    box-sizing: content-box;
}

.box.border-box{
   box-sizing: border-box; 
}

.box::after{
    content: "margin";
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 14px;
}

.padding-label{
    position: absolute;
    content: "padding";
    top: 10px;
    left: -40px;
    font-size: 14px;
    transform: rotate(-90deg); 
}

.border-label{
    position: absolute;
    content: "border";
    top: 80px;
    left: -35px;
    font-size: 14px;
    transform: rotate(-90deg); 
}

